:host {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.form {
  background: #eceff1;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 10px;
  min-width: 395px;
  width: 100%;
  max-width: 450px;
}
fieldset {
  border-radius: 10px;
  border: 1px solid #607d8b;
  margin-top: 8px;
}
legend {
  font-weight: bold;
}
button {
  margin-top: 16px;
  background-color: #ffc15a;
  border: #faa415 1px solid;
  color: #263238;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    background-color: #faa415;
    border: #ffc15a 1px solid;
  }
  &.reset-button {
    background-color: transparent;
    border: #004859 1px solid;
  }
}
input, button, select {
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 11px;
}

select {
  width: 100%;
}
input {
  border: #263238 solid 1px;
}
.ng-valid.ng-dirty:not([ngModelGroup]):not(form) {
  border: 1px solid #4caf50;
}

.ng-invalid.ng-dirty:not(form) {
  border: 1px solid #ff5722;
}

button[disabled] {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.form-field {
  width: 100%;
  height: 93px;
}

label, input, fieldset, button {
  width: 100%;
  box-sizing: border-box;
}

@mixin input-message() {
  font-size: 12px;
  box-sizing: border-box;
  padding: 2px 13px;

  animation-name: input-message-animation;
  animation-duration: 300ms;
}

.input-error {
  @include input-message();
  color: #ff5722;
}

.input-info {
  @include input-message();
  color: #449eff
}
